body{
  margin:25px;
  height:100%;
  background-color:rgb(19, 19, 20);

}
.form-group{
font-size: auto;
width: auto;

}

footer {
  padding:10px;
  background: #222;
  color: #ccc;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  text-align:center;
}
.qus{
  text-align: center;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #935528;
  color: #bd6b16;
}


.card__description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  
 
}

.card{
  padding: 0 20% 0 20%;
}
.form-control
{
  width:50%;
}
.start {
  text-align:center;
}
.btn{
  float: right;
}
.input-field{
   padding:30px;
   border-block-color:black;
}


.button,
.btn-warning {
  cursor: pointer;
  background: #BB6B24;
  color: #ffffff;
  font-size: 14px;
  color: #fff;
  padding: 10px 42px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  max-width: 200px;
}

hr {
    width:80%;
    height: 2px;
    background-color: #6A2B05;
    border: 0;
    margin-bottom: 80px;
}

.features {
  display: flex;
  justify-content:center;
  flex-direction: row;
}
#grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2vw;
  }

#grid > div {
  padding: .5em;
  text-align: center;
}

img {
  max-width: 100%;
}

.priceTable {
  display: flex;

  overflow: hidden;
  width: 80%;
  border-radius: 4px;
}

.priceGroup_box {
    flex: 1 1 0%;
    border-radius: 0;
    text-align: center;
}

 .cardGroup__card + .cardGroup__card {
    border-left: 1px solid #D7DBDD;
}

.cardGroup__cardDescription {
    flex: 1 1 auto;
}



.cardGroup__card {
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    border: none;
    border-radius: 0;
}

.card1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: columwn;
    flex-direction: column;
    border: 1px solid #935528;
    border-radius: 4px;
    overflow: hidden;
    text-align:left;
    margin: 15px;
    width:50%;
}

.card__descriptionText {
    color: #1d1e22;
    font-size: 16px;
    text-align: center;
    max-width: calc(100% - 30px);
}

.price-table {
  padding: 10px 100px 50px;
}
@media screen and (max-width: 600px) {
  body{
    margin:25px;
    height:100%;
    background-color:rgb(14, 1, 1);
  
  }

  .card{
    padding: 0 20% 0 20%;
  }

  .card__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
    
   
  }
  .qus{
    text-align: center;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #935528;
    color: #bd6b16;
  }
  
  .card1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: columwn;
    flex-direction: column;
    border: 1px solid #935528;
    border-radius: 4px;
    overflow: hidden;
    text-align:left;
    margin: 15px;
    width:100%;
}

}